todo.txt
.bundle
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.ipynb_checkpoints
.venv
delme
.vscode
legacy/
themes/sphinx_rtd_theme_from_git/
src/math/scratch
src/todo.md
docs/todo/
docs/.doctrees/todo.doctree
docs/_sources/todo.md.txt
src/sage/private